/*********************************************************
-------------------------- Haze --------------------------
Design: apopagasm
CSS: Exanurous
Style derived from Gazelle Postmod
*********************************************************/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,bold);
@import url(https://gitcdn.link/cdn/exanurous/haze_pth/master/layout-light.css);
@import url(https://gitcdn.link/cdn/exanurous/haze_pth/master/panel-light.css);
/* Background Image */
body {background-image: url('https://i.imgur.com/pWy5wGh.jpg');}
#logo a {background: url('http://i.imgur.com/z2GtTkT.png') no-repeat top left;background-size: 250px 58px}
.read {background: url('https://i.imgur.com/2iuJIm7.png') no-repeat center center;}
#extra3:after {background-image: url('https://i.imgur.com/xoufSGF.jpg');}
.read_locked_sticky { background: url(https://i.imgur.com/9kbxnhM.png) no-repeat center center;}
